body {
  font-family: "lato", sans-serif;

  .cartContainer {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;

    h2 {
      font-size: 26px;
      margin: 20px 0;
      text-align: center;
      small {
        font-size: 0.5em;
      }
    }

    .responsive-table {
      li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
      }
      .table-header {
        background-color: #95a5a6;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
      }
      .table-row {
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
        .btnDelete {
          background-color: #ffffff;
          border: none;
        }
        .btnClear {
          background-color: #ffffff;
          border: none;
        }
      }
      .col-1 {
        flex-basis: 20%;
      }
      .col-2 {
        flex-basis: 20%;
      }
      .col-3 {
        flex-basis: 20%;
      }
      .col-4 {
        flex-basis: 10%;
      }
      .buyerForm {
        display: flex;
        fieldset {
          text-align: end;
        }
        input {
          margin: 8px;
          border: none;
          height: 45px;
          background-color: red;
          background-image: linear-gradient(to top, #95a5a6, white 40%);
        }

        input:focus,
        input:hover {
          border-bottom: 2px solid #95a5a6;
        }
        .btnToBuy {
          padding: 0.375rem 0.75rem;
          border: 1px solid #8f42ec;
          border-radius: 0.25rem;
          color: #8f42ec;
          transition: color 0.15s ease-in-out,
            background-color 0.15s ease-in-out;
          margin-top: 20px;
        }
        .btnToBuy:hover,
        .btnToBuy:active,
        .btnToBuy:focus {
          color: #fff;
          background-color: #8f42ec;
        }
      }

      @media all and (max-width: 767px) {
        .table-header {
          display: none;
        }
        li {
          display: block;
        }
        .col {
          flex-basis: 100%;
        }
        .col {
          display: flex;
          padding: 10px 0;
          &:before {
            color: #6c7a89;
            padding-right: 10px;
            content: attr(data-label);
            flex-basis: 50%;
            text-align: right;
          }
        }
      }
    }
  }
}
