body {
  font-family: "lato", sans-serif;
}

body .cartContainer {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

body .cartContainer h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}

body .cartContainer h2 small {
  font-size: 0.5em;
}

body .cartContainer .responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

body .cartContainer .responsive-table .table-header {
  background-color: #95a5a6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

body .cartContainer .responsive-table .table-row {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

body .cartContainer .responsive-table .table-row .btnDelete {
  background-color: #ffffff;
  border: none;
}

body .cartContainer .responsive-table .table-row .btnClear {
  background-color: #ffffff;
  border: none;
}

body .cartContainer .responsive-table .col-1 {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

body .cartContainer .responsive-table .col-2 {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

body .cartContainer .responsive-table .col-3 {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

body .cartContainer .responsive-table .col-4 {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

body .cartContainer .responsive-table .buyerForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .cartContainer .responsive-table .buyerForm fieldset {
  text-align: end;
}

body .cartContainer .responsive-table .buyerForm input {
  margin: 8px;
  border: none;
  height: 45px;
  background-color: red;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#95a5a6), color-stop(40%, white));
  background-image: linear-gradient(to top, #95a5a6, white 40%);
}

body .cartContainer .responsive-table .buyerForm input:focus,
body .cartContainer .responsive-table .buyerForm input:hover {
  border-bottom: 2px solid #95a5a6;
}

body .cartContainer .responsive-table .buyerForm .btnToBuy {
  padding: 0.375rem 0.75rem;
  border: 1px solid #8f42ec;
  border-radius: 0.25rem;
  color: #8f42ec;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  margin-top: 20px;
}

body .cartContainer .responsive-table .buyerForm .btnToBuy:hover,
body .cartContainer .responsive-table .buyerForm .btnToBuy:active,
body .cartContainer .responsive-table .buyerForm .btnToBuy:focus {
  color: #fff;
  background-color: #8f42ec;
}

@media all and (max-width: 767px) {
  body .cartContainer .responsive-table .table-header {
    display: none;
  }
  body .cartContainer .responsive-table li {
    display: block;
  }
  body .cartContainer .responsive-table .col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  body .cartContainer .responsive-table .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0;
  }
  body .cartContainer .responsive-table .col:before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    text-align: right;
  }
}
/*# sourceMappingURL=Cart.css.map */