.itemDetail {
  margin: 20px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(5, 0.5fr);
  grid-template-rows: repeat(6, 0.5fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-family: "Lato", sans-serif;
  .itemDetail_img {
    grid-area: 1 / 1 / 6 / 2;
    width: 70%;
  }
  .itemDetail_category {
    grid-area: 1 / 2 / 2 / 5;
    font-size: 25px;
    font-weight: bold;
  }
  .itemDetail_name {
    grid-area: 2 / 2 / 3 / 5;
    font-size: 25px;
  }
  .itemDetail_detail {
    grid-area: 3 / 2 / 5 / 5;
    font-size: 18px;
  }
  .itemDetail_price {
    grid-area: 5 / 2 / 6 / 5;
    font-size: 20px;
    color: rgb(182, 182, 182);
    font-weight: bold;
  }
  .itemDetail_count {
    grid-area: 1 / 5 / 6 / 6;
    .btnToCart {
      margin-right: 20px;
    }
    .btnBack,
    .btnToCart {
      padding: 0.375rem 0.75rem;
      border: 1px solid #8f42ec;
      border-radius: 0.25rem;
      color: #8f42ec;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
      margin-top: 20px;
    }

    .btnBack:hover,
    .btnBack:active,
    .btnBack:focus,
    .btnToCart:hover,
    .btnToCart:active,
    .btnToCart:focus {
      color: #fff;
      background-color: #8f42ec;
    }
  }
}
